@model Biblioteca_Recetas.Models.Pais

@{
    ViewData["Title"] = "CrearPais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Pais</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearPais" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bandera" class="control-label"></label>
                <input asp-for="Bandera" class="form-control" />
                <span asp-validation-for="Bandera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ObtenerPaises">Back to List</a>
</div>

